<div class="container justify-content-between w-50">
  <%= link_to cocktails_path do %>
    <i class="fas fa-undo-alt"></i> Back to list
  <% end %>
</div>


<div class="container w-50 mt-5">
  <h1><%= @cocktail.name %></h1>

  <div>
    <% @cocktail.doses.each do |dose| %>
        <% ingredient = Ingredient.find(dose.ingredient_id) %>
        <p> <%= dose.description%> | <%= ingredient.name %></p>
    <% end %>
  </div>

  <p><%= link_to new_cocktail_dose_path(@cocktail) do %>
      <i class="fas fa-plus"></i> Add a new dose
  <% end %></p>
  
</div>